*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    font-family: "Google Sans";
}
body{ /* PAGE DESIGN AND FLOW */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{ /* GRAY CONTAINER SURFACE */
    font-family: "Google Sans";
    display: flex;
    flex-direction: column;

    width: min(1000px, 95%); 
    padding: 20px;
    border-radius: 15px;

    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
    background: #ebebeb;
}

/* TITLE BAR ================*/
.title-bar{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;   
    color: black;       
    width: 100%;
}

/* ALL INPUT BUTTONS ================*/
.input-interface{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 12px;
    padding: 20px;          
    width: 100%; 
}
.task-name-input, .task-due-date, .drop-button, .add-task-button{   
    display: flex; 
    align-items: center; 
    justify-content: center;

    cursor: pointer;
    border: none;
    
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-name-input:hover,
.task-due-date:hover,
.drop-button:hover{
    background-color: #f0f0f0;
}
.task-name-input:focus,
.task-due-date:focus,
.drop-button:focus{
    background-color: #ffffff;
}

/* priority drop menu */
.priority
{
    display: block;
}
.drop-list{
    display: none;
    position: absolute;
    width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.drop-list li{
    list-style-type: none;
    display: block;
    width: 100%;
}
.drop-option{
    display: block;
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
}
.drop-option:hover{
    background-color: #f0f0f0;
}
.add-task-button{
    background-color: rgb(22, 163, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.add-task-button:hover{
    background-color: rgb(22, 140, 0);
}
.task-name-input{
    width: 300px;
}


/* ALL VIEW ================*/
.view-interface{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 8px;
    width: 100%;
    gap: 12px;
}
.viewGroup {
    display: flex;       
    flex-direction: row; 
    gap: 8px;
}
.sort-priority, .sort-date, .sort-alpha, .sort-active, .sort-completed{   
    display: inline-flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;

    cursor: pointer;
    border: none;
    
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sort-priority:hover, 
.sort-date:hover, 
.sort-alpha:hover, 
.sort-active:hover, 
.sort-completed:hover{
    background-color: #f0f0f0;
}

.show{ /* toggle dropdown menu */
    display: block;
}
.hidden{ /* display input interface */
    display: none !important;
}
.invalid{
    border-color: red;
}
.selected{
    background-color: #d1d1d1 !important;
    box-shadow: inset 0 2px 4px #d3d3d3;
    border: 1px solid #999;
}
.fix{
    border-color: red;
}

/* TASK DISPLAY ================*/
#taskDisplay{ /* each column */
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 150px; 
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}
.grid-header{ /* each header */
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
}
.task-actions {
    display: flex;         
    justify-content: center; 
    align-items: center;    
    gap: 8px;              
    height: 100%;           
}
.task-priority {
    display: flex;          
    justify-content: center; 
    align-items: center;    
    gap: 8px;              
    height: 100%;           
}
.task-actions button {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
}
.task-actions button:hover {
    background-color: rgb(213, 213, 213) ;
}
