*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dotted;
    font-family: "Google Sans";
}
body{ /* PAGE DESIGN AND FLOW */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{ /* GRAY CONTAINER SURFACE */
    font-family: "Google Sans";
    display: flex;
    flex-direction: column;

    width: min(900px, 95%); 
    padding: 20px;
    border-radius: 15px;

    box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.1);
    background: #ebebeb;
}

/* TITLE BAR ================*/
.title-bar{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;   
    color: black;       
    width: 100%;
}

/* ALL INPUT BUTTONS ================*/
.input-interface{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 12px;
    padding: 20px;          
    width: 100%; 
}
.task-name-input, .task-due-date, .drop-button, .add-task-button{   
    display: flex; 
    align-items: center; 
    justify-content: center;

    cursor: pointer;
    border: none;
    
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-name-input:hover,
.task-due-date:hover,
.drop-button:hover{
    background-color: #f0f0f0;
}
.task-name-input:focus,
.task-due-date:focus,
.drop-button:focus{
    background-color: #ffffff;
}

/* priority drop menu */
.priority
{
    display: block;
}
.drop-list{
    display: none;
    position: absolute;
    width: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.drop-list li{
    list-style-type: none;
    display: block;
    width: 100%;
}
.drop-option{
    display: block;
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
}
.drop-option:hover{
    background-color: #f0f0f0;
}
.add-task-button{
    background-color: rgb(22, 163, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.add-task-button:hover{
    background-color: rgb(22, 140, 0);
}

.task-name-input{
    width: 300px;
}


/* View interface */
.view-interface{
    display: flex;
    flex-direction: row;
    padding: 15px; 
    gap: 12px;             
    width: 100%;           
    justify-content: left;
    align-items: center;
}
.sort-button{ /* ALL SORT BUTTONS */
    display: flex; 
    align-items: center; /* get the contents of each flex element centered */
    justify-content: center; /* ex. the text "Add Task" for the add task button*/
    font-family: "Google Sans";
    cursor: pointer;
    border: none;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sort-button:hover{
    background-color: #f0f0f0;
}

.show{ /* show shit */
    display: block;
}